/*Dark LinkedIn by ilkemerol*/

.app-boot-bg-skeleton{
	background: #565656 !important;
}
/*body*/
.authentication-outlet{
    background: #565656 !important;
}
/*Status bar*/
.sharing-create-share-view__wrapper.art-deco-container-card{
	background: #989898 !important;
}
.sharing-subaction-bar__publish-action-item a{
	color: #C7D1D8 !important;
}
.dropdown-options.sharing-visibility-select__vis-dropdown.ember-view{
	background: #DBDBCE !important;
}
.sharing-visibility-select__toggle-text{
	color: #C7D1D8 !important;
}
/*Update's top bar */
.feed-s-top-bar.Sans-13px-black-70\%.ember-view{
	background: #283E4A !important;
	color : #C7D1D8 !important;
}
.feed-s-top-bar .attributed-text a{
	color: #69c0e0 !important;
}
.small-icon{
	color: #C7D1D8 !important;
}
/*Post User side*/
.feed-s-post-meta.feed-s-post-meta--is-not-sponsored.ember-view{
    background: #283E4A !important;
    color: #C7D1D8 !important;
}
.feed-s-post-meta.feed-s-post-meta--is-not-sponsored.ember-view span{
    color: #69c0e0 !important;
}
.feed-s-post-meta.feed-s-post-meta--is-not-sponsored.ember-view time{
    color: #C7D1D8 !important;
}
.feed-s-update-control-panel-trigger__options.dropdown{
	background: #0084BF !important;
}
.icon.svg-icon-wrap{
	color: #C7D1D8 !important;
}
.feed-s-update__scroll{
	background: #283E4A !important;
}
.feed-link.feed-s-main-content__mention.ember-view{
	color: #C7D1D8 !important;
}
.see-more.Sans-15px-black-55\%.hoverable-link-text{
	background: #283E4A !important;
	color: #C7D1D8 !important;
}
.Sans-15px-black-70\%.feed-s-main-content.ember-view{
	color: #C7D1D8 !important;
}
.feed-s-social-counts.ember-view span{
	color: #C7D1D8 !important;
}
.feed-s-update__social-actions.feed-s-social-action-bar.ember-view{
    background: #283E4A !important;
}
.feed-s-update__social-actions.feed-s-social-action-bar.ember-view button{
	color: #C7D1D8 !important;
}
.feed-s-social-action-bar.ember-view{
	background: #283E4A !important;
}
.feed-s-social-action-bar.ember-view button{
	color: #C7D1D8 !important;
}
.feed-s-comments-list{
	background: #283E4A !important;
	color: #C7D1D8 !important;
}
.feed-s-comment-item__main-content.feed-s-main-content--comment.Sans-13px-black-70\%.feed-s-main-content.ember-view{
	color: #C7D1D8 !important;
}
.hoverable-link-text.button.feed-s-comments-list__show-previous-button.Sans-13px-black-55\%{
	color: #C7D1D8 !important;
}
.feed-s-comment-box.feed-s-comment-box--has-avatar.ember-view{
	background: #283E4A !important;
}
.feed-s-update__follow-button.feed-s-post-meta__follow-button.follow.ember-view{
	color: #C7D1D8 !important;
}
.feed-s-identity-module__widgets{
	background: #283E4A !important;
}
.entity-list-item{
	background: #283E4A !important;
}
.Sans-21px-black-85\%.identity-stat{
	color: #C7D1D8 !important;
}
.description.headline.attributed-text.ember-view{
	color: #C7D1D8 !important;
}
.name.tap-target.ember-view{
	color: #C7D1D8 !important;
}
.feed-s-identity-module.container.ember-view{
	background: #283E4A !important;
}
.feed-s-identity-module.container.ember-view a{
	color: #C7D1D8 !important;
}
.feed-s-identity-module.container.ember-view p{
	color: #C7D1D8 !important;
}
.member-ads{
	background: #283E4A !important;
}
.nav-footer__text-link.Sans-13px-black-55\%.ember-view{
	color: #C7D1D8 !important;
}
.dropdown-trigger.ember-view span{
	color: #C7D1D8 !important;
}
/* Home End */

.mn-invitations-preview.Elevation-2dp{
	background: #283E4A !important;
}
.Sans-19px-black-70\%-open{
	color: #C7D1D8 !important;
}
.mn-invitations-preview__view-sent.Sans-15px-black-55\%.mlA.ember-view{
	color: #C7D1D8 !important;
}
.mn-pymk-list.Elevation-2dp.ember-view{
	background: #283E4A !important;
}
.people li{
	background: #283E4A !important;
}
.mn-person-info.ember-view a{
	background: #283E4A !important;
}
.mn-person-info__link.ember-view span{
	color: #C7D1D8 !important;
}
.mn-person-info__shared-insights-count{
	color: #C7D1D8 !important;
}
.mn-person-info__shared-insights-info{
	color: #C7D1D8 !important;
}
.container-with-shadow.pv4.ph3{
	background: #283E4A !important;
}
.mn-connections-summary__title.Sans-17px-black-85\%-semibold-dense.mt2{
	color: #C7D1D8 !important;
}
.mn-abi-form__container.Elevation-2dp{
	background: #283E4A !important;
}
.Sans-17px-black-85\%-semibold-dense.text-align-center.mb4.ph3{
	color: #C7D1D8 !important;
}
.mn-abi-form__input.ember-text-field.ember-view{
	color: #C7D1D8 !important;
}
.Sans-15px-black-70\%{
	color: #C7D1D8 !important;
}
.Sans-13px-black-55\%.mb4{
	color: #C7D1D8 !important;
}
.mn-abi-form__learn-more-btn{
	color: #C7D1D8 !important;
}


.nt-feed-card{
	background-color: #283E4A !important;
}
.Sans-17px-black-85\%-dense{
	color: #C7D1D8 !important;
}
.nt-notifications-heading.container.Elevation-2dp.p4{
	background: #283E4A !important;
}
.Sans-17px-black-85\%-semibold-dense{
	color: #C7D1D8 !important;
}
.Sans-17px-black-55\%-dense.mt2{
	color: #C7D1D8 !important;
}

.dropdown-options.nav-settings__dropdown-options.ember-view li{
	background: #283E4A !important;
}
.block.pv1.ph5.ember-view{
	color: #C7D1D8 !important;
}
.nav-settings__member-name.Sans-17px-black-85\%-semibold{
	color: #C7D1D8 !important;
}

.core-rail section{
	background: #283E4A !important;
}
.pv-profile-section__section-info.section-info.pv-profile-section__section-info--has-no-more.ember-view li{
	background: #283E4A !important;
}
.pv-top-card-section__name.Sans-26px-black-85\%.mb1{
	color: #C7D1D8 !important;
}



.me-wyva-card__header{
	background: #283E4A !important;
}
.me-wyva-card__header h2{
	color: #C7D1D8 !important;
}
.me-wyva-carousel__anchors button{
	background: #283E4A !important;
}
.me-wvmp-premium-upsell.me-wvmp-profile-view-card.ember-view{
	background: #283E4A !important;
}
.me-wvmp-premium-upsell.me-wvmp-profile-view-card.ember-view p{
	color: #C7D1D8 !important;
}
.me-wvmp-overview__viewers-list article{
	background: #283E4A !important;
}
.me-wvmp-profile-view-card__viewer-headline.Sans-15px-black-55\%{
	color: #C7D1D8 !important;
}
.me-wvmp-profile-view-card__found-via.Sans-13px-black-55\%-italic{
	color: #C7D1D8 !important;
}
.me-wvmp-card-insight__message.Sans-13px-black-55\%{
	color: #C7D1D8 !important;
}
.insight-action.Sans-13px-black-85\%-semibold{
	color: #C7D1D8 !important;
}
.me-wvmp-profile-view-card__footer.Sans-13px-black-55\%{
	color: #C7D1D8 !important;
}
.me-wvmp-profile-view-card__footer.Sans-13px-black-55\% span{
	color: #C7D1D8 !important;
}


.pv-recent-activity-detail__header-container{
	background: #283E4A !important;
}
.Sans-19px-black-85\%-semibold{
	color: #C7D1D8 !important;
}
.pv-recent-activity-top-card{
	background: #283E4A !important;
}
.single-line-truncate.Sans-17px-black-85\%-semibold.mt2{
	color: #C7D1D8 !important;
}


.feed-s-likers-modal__actor-list.actor-list.ember-view{
	background: #283E4A !important;
}
.profile-link h3{
	color: #C7D1D8 !important;
}
.profile-link p{
	color: #C7D1D8 !important;
}
.mn-invitation-list.ember-view li{
	background: #283E4A !important;
}
.mn-person-info__picture{
	background: #283E4A !important;
}
.mn-connections__list.ember-view li{
	background: #283E4A !important;
}
.mn-connections.connections-container.Elevation-2dp{
	background: #283E4A !important;
}
.dropdown.closed.ember-view button{
	/*background: #283E4A !important;*/
}
.mn-connections__sort-container.Sans-15px-black-55\%{
	color: #C7D1D8 !important;
}
.mn-connections__search-container.Sans-15px-black-55\%{
	color: #C7D1D8 !important;
}
.mn-connections__search-container.Sans-15px-black-55\% input{
	color: #C7D1D8 !important;
}


.results-list li{
	background: #283E4A !important;
}
.search-results__primary-cluster.search-results__container.pt0.pb4.ph0{
	background: #283E4A !important;
}
.search-results__total.Sans-15px-black-55\%.pl5.pt4.clear-both{
	color: #C7D1D8 !important;
}
.actor-name-with-distance.single-line-truncate.ember-view span{
	color: #C7D1D8 !important;
}
.subline-level-1.Sans-15px-black-85\%.search-result__truncate{
	color: #C7D1D8 !important;
}
.subline-level-2.Sans-13px-black-55\%.search-result__truncate{
	color: #C7D1D8 !important;
}
.connections-count.ml1{
	color: #C7D1D8 !important;
}
.nav-main-container{
	padding: 0px 0px 0 !important;
	margin-bottom: -64px !important;
}

.jobs-jymbii.jobs-box.jobs-box--full-width.jobs-box--with-cta-large.ember-view{
	background: #283E4A !important;
}
.jobs-box.jobs-box--full-width.jobs-top-card.ember-view{
	background: #283E4A !important;
}
.jobs-nav-count__number.Sans-21px-black-85\%-semibold-dense{
	color: #C7D1D8 !important;
}
.Sans-15px-black-55\%{
	color: #C7D1D8 !important;
}
.jobs-inline-pref.Sans-15px-black-55\%.ember-view{
	color: #C7D1D8 !important;
}


.msg-conversations-container__title.Sans-17px-black-85\%-semibold{
	background: #283E4A !important;
	color: #C7D1D8 !important;
}
.msg-conversations-container__conversations-list.ember-view li{
	background: #283E4A !important;
}
.shared-title-bar__title.msg-title-bar__title-bar-title{
	background: #283E4A !important;
}
.msg-entity-lockup__entity-title.truncate{
	color: #C7D1D8 !important;
}
.msg-entity-lockup__entity-info.truncate{
	color: #C7D1D8 !important;
}
.msg-thread.ember-view{
	background: #565656 !important;
}
.msg-s-message-listitem__message-bubble{
	background-color: #019dff !important;
}
.msg-compose-form.msg-compose-form--chat.ember-view{
	background: #283E4A !important;
}
.msg-compose-form__message-text.Sans-15px-black-70\%.p0.ember-text-area.ember-view{
	color: #C7D1D8 !important;
}
.artdeco-icon{
	color: #C7D1D8 !important;
}
.msg-compose-form__hint-text.Sans-13px-black-55\%{
	color: #C7D1D8 !important;
}


.pv-top-card-section__headline.Sans-17px-black-85\%.mb1{
	color: #C7D1D8 !important;
}
.pv-treasury-carousel__subheadline.Sans-17px-black-85\%.mb2{
	color: #C7D1D8 !important;
}
.pv-profile-section.artdeco-container-card.pv-wvmp-wvmu-section.ember-view a{
	color: #C7D1D8 !important;
}
.pv-recent-activity-section__card-heading.Sans-17px-black-85\%{
	color: #C7D1D8 !important;
}
.pv-recent-activity-item__title.Sans-17px-black-85\%-semibold{
	color: #C7D1D8 !important;
}
.pv-profile-section__card-heading.Sans-17px-black-85\%{
	color: #C7D1D8 !important;
}
.Sans-17px-black-85\%-semibold{
	color: #C7D1D8 !important;
}
.nav-footer-container.nav-footer__container{
	background: #565656 !important;
}
.org-top-card-module__container.container-with-shadow{
	background: #283E4A !important;
}
.org-about-company-module__org-info.org-about-company-module__org-info--is-expanded.media__body.easeInOut-long-slow-motion.pr4.pl5.pt5{
	background: #283E4A !important;
}
.org-premium-container.org-premium-upsell-module.module.ember-view{
	background: #283E4A !important;
}

.search-results__title-and-total-wrapper{
	background: #283E4A !important;
}
.search-results__search-all-header.Sans-15px-black-85\%-semibold{
	background: #283E4A !important;
}
.Sans-15px-black-85\%-semibold{
	color: #C7D1D8 !important;
}
.nav-main-container{
	background: #283E4A !important;
}
.sub-nav-item.ember-view button{
	color: #C7D1D8 !important;
}
.search-result-item.ember-view{
	background: #283E4A !important;
}
.jobs-search-results__count-sort.pt3{
	background: #283E4A !important;
}
.truncate-multiline--last-line-wrapper{
	color: #C7D1D8 !important;
}
.job-card__content-wrapper h4{
	color: #C7D1D8 !important;
}
.job-card__content-wrapper h5{
	color: #C7D1D8 !important;
}
.job-card__content-wrapper p{
	color: #C7D1D8 !important;
}

.jobs-box.jobs-box--full-width.jobs-box--with-cta-large.company-recommendations.ember-view{
	background: #283E4A !important;
}
.jobs-company-card__company-name{
	color: #C7D1D8 !important;
}
.jobs-company-card__company-industry{
	color: #C7D1D8 !important;
}
.jobs-company-card__company-description{
	color: #C7D1D8 !important;
}
.org-about-company-module__org-info.org-about-company-module__org-info--is-collapsed.media__body.easeInOut-long-slow-motion.pr4.pl5.pt5{
	background: #283E4A !important;
}
.org-about-company-module__show-details-button.Sans-15px-black-55\%.mt5{
	background: #283E4A !important;
}
#org-about-company-module{
	background: #283E4A !important;
}
.org-company-connections-module.module.ember-view{
	background: #283E4A !important;
}
.org-nav-tab-card__title.Sans-19px-black-70\%{
	background: #283E4A !important;
}
.org-showcase-pages-module.module.container-with-shadow.p0.ember-view{
	background: #283E4A !important;
}
.section-heading.org-overview-container__updates-heading-container.ember-view{
	background: #283E4A !important;
}



.carousel-header.ember-view{
	background: #283E4A !important;
}
.pe-s-form__container{
	background: #283E4A !important;
}
.pe-s-form__footer.pe-form-footer div{
	background: #283E4A !important;
}
.carousel-header__item-content{
	color: #C7D1D8 !important;
}
.type-ahead-input label{
	color: #C7D1D8 !important;
}
.pe-form-field__label.Sans-13px-black-55\%.block{
	color: #C7D1D8 !important;
}
.label-text{
	color: #C7D1D8 !important
}
.pv-profile-section__card-heading.Sans-17px-black-85\%{
	font-weight: bold !important;
	color: #96beff !important;
}
.title.toggle{
	color: #C7D1D8 !important;
}
.message.toggle{
	color: #C7D1D8 !important
}
.feed-s-comment-item__name.Sans-13px-black-70\%-semibold{
	color: #69c0e0 !important;
}
.feed-s-comment-item__options time{
	color: #C7D1D8 !important
}
.nav-item__icon li-icon{
	color: #69c0e0 !important;
}
.nav-item__title{
	color: #69c0e0 !important;
}
.feed-s-comment-social-bar__action-group button{
	color: #C7D1D8 !important
}
.feed-s-comment-social-bar__likes-count.tap-target.hoverable-link-text span{
	color: #C7D1D8 !important
}
.feed-s-highlighted-comment-item__name{
	color: #69c0e0 !important;
}
.feed-s-main-content--highlighted-comment.Sans-13px-black-70\%.feed-s-main-content.ember-view{
	color: #C7D1D8 !important
}
.Sans-17px-black-85\%{
	color: #C7D1D8 !important
}
.nt-feed-card__text-wrapper-title.Sans-15px-black-55\%-semibold{
	color: #C7D1D8 !important
}
.nt-social-counts__count{
	color: #C7D1D8 !important
}
.nt-feed-card__time-ago.Sans-13px-black-55\%{
	color: #C7D1D8 !important
}
.view-more.ember-view{
	background: #283E4A !important;
}
.me-wyva-insight-card__headline.Sans-21px-black-85\%{
	color: #C7D1D8 !important
}
.distance-badge.separator{
	color: #C7D1D8 !important
}
.insight-action.Sans-13px-black-70\%-semibold{
	color: #C7D1D8 !important
}
.me-wvmp-profile-view-card__time-ago.Sans-13px-black-55\%{
	color: #C7D1D8 !important
}
#globalfooter-talent_solutions{
	color: #C7D1D8 !important
}
#globalfooter-about{
	color: #C7D1D8 !important
}
#globalfooter-careers{
	color: #C7D1D8 !important
}
#globalfooter-advertising{
	color: #C7D1D8 !important
}
#globalfooter-mobile{
	color: #C7D1D8 !important
}
#globalfooter-marketing_solutions{
	color: #C7D1D8 !important
}
#globalfooter-sales_solutions{
	color: #C7D1D8 !important
}
#globalfooter-small_business{
	color: #C7D1D8 !important
}
#globalfooter-community_guidelines{
	color: #C7D1D8 !important
}
#globalfooter-user_feedback{
	color: #C7D1D8 !important
}
#globalfooter-questions{
	color: #C7D1D8 !important
}
#globalfooter-manage_account{
	color: #C7D1D8 !important
}
.truncate-multiline--last-line-wrapper{
	color: #69c0e0 !important
}
.job-card__content-wrapper h4{
	color: #69c0e0 !important
}
.job-card__content-wrapper h5{
	color: #69c0e0 !important
}
.msg-conversations-container__convo-item-link.active{
	background-color: #406e8c !important;
}
.msg-search-form__filters-dropdown.ember-view{
	background: #283E4A !important;
}
.msg-spinmail-thread__message{
	background: #565656 !important;
}
.msg-spinmail-thread__message p{
	color: #C7D1D8 !important
}
.msg-spinmail-thread__message h3{
	color: #C7D1D8 !important
}
.msg-spinmail-reply-form{
	background: #565656 !important;
}
.msg-compose-form.ember-view{
	background: #283E4A !important;
}
.truncate-multiline--truncation-target span{
	color: #69c0e0 !important
}
.pv-skill-entity__pill-contents.static-pill{
	background-color: #69c0e0 !important
}
.pe-form-field__label{
	color: #C7D1D8 !important
}
.feed-profile.delay140{
	background: #565656 !important;
}
#app-boot-bg .module, .loading-bg .module{
	background: #565656 !important;
}
#app-boot-bg .line.white, #app-boot-bg .rect.white, .loading-bg .line.white, .loading-bg .rect.white{
	background: #565656 !important;
}