#check {
  display: none;
}

body {
  background-color: #143840;
  transition: all ease 800ms;
}

.check_container {
  width: 85px;
  border: 2px solid #333333;
  position: relative;
  height: 37px;
  border-radius: 96px;
  background-color: #333333;
  cursor: pointer;
  transition: all ease 800ms;
  margin: 22.5px auto 22.5px auto;
}
.ghyama_container {
  width: 103%;
  height: 37px;
  border-radius: 100px;
  overflow: hidden;
  position: absolute;
}
.cercle {
  position: absolute;
  box-shadow: 0px 0px 10px 0px #fbf5d9;
  overflow: hidden;
  width: 33px;
  height: 33px;
  background-color: blanchedalmond;
  border-radius: 100px;
  transition: all ease 800ms;
}
.check_details {
  width: 100%;
  height: 100%;
  position: absolute;
}
.small_cercle {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  margin: 1px;
  transform: translateX(55px);
  box-shadow: 0px 0px 3px 0px #fbf5d9;
  transition: all ease 300ms;
}
#c1 {
  transform: translateX(44px);
  width: 5px;
  height: 5px;
}
#c2 {
  transform: translateX(66px);
  width: 4px;
  height: 4px;
}
#c3 {
  transform: translateX(52px);
  width: 3px;
  height: 3px;
}
#c4 {
  transform: translateX(40px);
  width: 4px;
  height: 4px;
}
#c5 {
  transform: translateX(70px);
  width: 2px;
  height: 2px;
}
#c6 {
  transform: translate3d(38px, 5px, 0px);

  width: 2px;
  height: 2px;
}
#c7 {
  transform: translate3d(57px, -7px, 0px);

  width: 3px;
  height: 3px;
}
#c8 {
  transform: translate3d(64px, -2px, 0px);

  width: 4px;
  height: 4px;
}
.moon_details {
  transition: all ease 300ms;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 3px solid #f9d7a5;
}
#m_d2 {
  transform: translate3d(25px, 7px, 0px);
}
#m_d3 {
  transform: translate3d(3px, 3px, 0px);
}
.ghyama {
  width: 24px;
  height: 8px;
  background-color: white;
  position: absolute;
  margin: 18px 39px;
  transform: translateX(58px);
  transition: all ease 500ms;
}
#ghyama_d1 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: -4px 10px 0 -5px;
  background-color: white;
  position: absolute;
}
#ghyama_d2 {
  width: 16px;
  height: 14px;
  border-radius: 50%;
  margin: -11px 14px 0 4px;
  background-color: white;
  position: absolute;
}
#ghyama_d3 {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin: -5px 10px 0 16px;
  background-color: white;
  position: absolute;
}
